.App {
  text-align: center;
  height: 100%;
}
.item-order:hover {
  background-color: #ccc;
}

.container-order {
  display: block;
  margin-top: 50px;
  height: calc(70vh - 50px);
  overflow:auto;
  padding: 10px 0;
  border-bottom: 3px solid transparent;
}

.container-form {
  /* overflow: hidden; */
  margin-bottom: 50px;
  height: calc(30vh - 50px);
  padding: 5px;
}

.pay-btn {
  width: 70%;
  height: 40px;
}

.Header {
  width: 100%;
  height: 50px;
  background-color: #e1e7ec;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.Footer {
  width: 100%;
  height: 50px;
  background-color: #e1e7ec;
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .container-order {
    display: flex;
    border-bottom: 3px solid #7f858b;
  }
}
